<div class="content">
  <h1>To Do List</h1>
  <div id="app">
    <input class="input" #input type="text" (keyup.enter)="addItem(input.value);input.value = '';" placeholder="to do item..." />
    <p *ngFor="let l of list"> 
      <span class="li_title">
        {{ l }}
      </span>
      <input #edit id="{{ l }}" type="text" [value]="l" (keyup.enter)="saveItem(edit.value, edit.id);" hidden/>
      <span class="li_actions">
        <span (click)="removeItem(l)">x</span>
        <span (click)="editItem(l)">e</span>
      </span>
    </p>
  </div>
</div>